<div class="main_container">
  <div class="information">
    <h2>スケジュール詳細</h2>
  </div>
  
  <table> 
    <tr>
      <th>タイトル</th>
      <td><%= @post.title %></td>
    </tr>
    <tr>
      <th>開始日</th>
      <td><%= @post.start_at.strftime("%Y年%m月%d日") %></td>
    </tr>
    <tr>
      <th>投稿日時</th>
      <td><%= @post.end_at.strftime("%Y年%m月%d日") %></td>
    </tr>
    <tr>
      <th>終日</th>
      <td><% if @post.is_all_day == 1 %><strong>〇</strong><% end %></td>
    </tr>
    <tr>
      <th>スケジュールメモ</th>
      <td><pre><%= @post.memo %></pre></td>
    </tr>
  </table>
  <div>
    <ul>
      <li><%= link_to "スケジュール一覧に戻る", :posts %></li>
      <li><%= link_to "スケジュールを編集する", [:edit, @post] %></li>
      <li><%= link_to "スケジュールを削除", @post, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？" } %></li>
    </ul>
  </div>
</div>
  
  